---
title: anynines Consul-DNS
owner: Partners
---

The following documentation describes anynines Consul-DNS. A service discovery tool.

## <a id='overview'></a>Overview

anynines Consul-DNS includes the following key features:

* Deployment of a cluster of consul servers
* Addition of a consul release to an existing deployment to advertise it or discover services

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>anynines Consul-DNS Details:</dt>
<dd><strong>Version</strong>: v1.0.0 </dd>
<dd><strong>Release Date</strong>: September 1, 2016</dd>
<dd><strong>vSphere support?</strong> YES</dd>
<dd><strong>OpenStack support?</strong> YES</dd>
<dd><strong>AWS support?</strong> YES</dd>
</dl>

## <a id="reqs"></a>Requirements

There are so far no requirments for the usage of this Tile.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to contact@anynines.com

## <a id='license'></a>License

**List any license information here.**

