---
title: anynines MongoDB service
owner: Partners
---

The anynines MongoDB Service provides...

## <a id='overview'></a>Overview

The anynines MongoDB service includes the following key features:

* Feature one.
* Feature two.
* Feature three.

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>anynines MongoDB service Details:</dt>
<dd><strong>Version</strong>: v1.0.0 </dd>
<dd><strong>Release Date</strong>: September 1, 2016</dd>
<dd><strong>vSphere support?</strong> YES-OR-NO</dd>
<dd><strong>OpenStack support?</strong> YES-OR-NO</dd>
<dd><strong>AWS support?</strong> YES-OR-NO</dd>
</dl>

## <a id="reqs"></a>Requirements

There are so far no requirements for the usage of this tile.

## <a id="limitations"></a>Limitations

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to contact@anynines.com

## <a id='license'></a>License

**List any license information here.**

