---
title: a9s BOSH
owner: Partners
---

The a9s BOSH tile is required by the a9s Dedicated MongoDB to create the
VMs for each instance.

[anynines](http://www.anynines.com) provides highly available dedicated shared services and needs its own
BOSH Director to built them.

<img src="../images/bosh-icon-a9s@2x_1.png" alt="a9s BOSH logo" height="215" width="215" />

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>a9s BOSH Details:</dt>
<dd><strong>Version</strong>: v1.0.0. </dd>
<dd><strong>Release Date</strong>: September 1, 2016</dd>
<dd><strong>Compatible Ops Manager Versions</strong>: v1.7.x</dd>
<dd><strong>Compatible Elastic Runtime Versions</strong>: v1.6.x</dd>
<dd><strong>vSphere support?</strong> YES</dd>
<dd><strong>AWS support?</strong> YES</dd>
</dl>

## <a id="reqs"></a>Requirements

For this service to work you will need the following product, given with its
minimal version:

* anynines Consul-DNS (1.0.0.0)

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to svc.support@anynines.com.

## <a id='license'></a>License

See [data-services.anynines.com/sales](http://data-services.anynines.com/sales)

