---
title: anynines Consul-DNS
owner: Partners
---

The following documentation describes the *anynines Consul-DNS*.

*Consul* is a distributed highly-available system that makes it simple for
services to register themselves and to discover other services via a DNS or HTTP interface.

This tile includes a cluster of *Consul* server and additional *dnsmasq* servers
used for service discovery.

This service is required by the *anynines MongoDB service* to advertise its
service instances and service broker to the Elastic Runtime.

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>anynines Consul-DNS Details:</dt>
<dd><strong>Version</strong>: v1.0.0 </dd>
<dd><strong>Release Date</strong>: September 1, 2016</dd>
<dd><strong>Compatible Ops Manager Versions</strong>1.7.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
</dl>

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to contact@anynines.com (TODO: confirm)

## <a id='license'></a>License

(TODO: confirm)
