---
title: a9s Dedicated MongoDB service
owner: Partners
---

The a9s Dedicated MongoDB service enables the on-demand creation of dedicated
MongoDB servers and clusters. Depending on the chosen service plan a service
instance is represented by a single, dedicated virtual machine or a set of VMs
consisting of multiple (e.g. three) virtual machines comprising a MongoDB
replica set cluster. The provisioning of MongoDB service instances including the
virtual machine orchestration is entirely automated. This way service instances
are highly isolated and shielded by proven infrastructure virtualization
mechanisms.


Due to the on-demand provisioning on virtual machines, only existing service
instances allocate infrastructure resources which will be released when service
instances are destroyed.

Spread across several infrastructure availability zones, the clustered data
service plans enable very short failover times and a strong resilience against
failures of individual infrastructure host or even entire availability zones.


This means that whenever a user executes ```cf create-service a9s-mongodb ...```,
dedicated virtual machines are created for this service instance. This allows
the best possible "bad neighborhood protection".

<img src="../images/a9s-mongodb-tile.png" alt="a9s Dedicated MongoDB logo" height="215" width="215" />

## <a id='overview'></a>Overview

The a9s Dedicated MongoDB includes the following key features:

* On-demand Service Instance Provisioning
* Service Instance Isolation
* High Availability

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>a9s Dedicated MongoDB Details:</dt>
<dd><strong>Version</strong>: v1.0.0 </dd>
<dd><strong>Release Date</strong>: September 1, 2016</dd>
<dd><strong>Compatible Ops Manager Versions:</strong> 1.7.x</dd>
<dd><strong>Compatible Elastic Runtime Versions:</strong> 1.6.x, 1.7.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
</dl>

## <a id="reqs"></a>Requirements

For this service to work you will need the following products, given with their
minimal version:

* anynines Consul-DNS (1.0.0.0)
* anynines BOSH (1.0.0.0)
* Elastic Runtime (1.6)

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to svc.support@anynines.com.

## <a id='license'></a>License

See [data-services.anynines.com/sales](http://data-services.anynines.com/sales)
