---
title: Installing and Configuring the anynines MongoDB service
owner: Partners
---

This topic describes how to install and configure the anynines MongoDB service.

##<a id='install'></a> Install the anynines MongoDB service

1. Download the product file from the Pivotal Network.

2. Navigate to the Ops Manager Installation Dashboard and click **Import a Product**
to upload the product file.

3. Click **Add** next to the uploaded anynines MongoDB Service tile in the Ops Manager
**Available Products** view to add it to your staging area.

4. Click the newly added tile to review configurable Setting.

5. Click **Apply Changes** to deploy the service.

##<a id='configure'></a> Configure the anynines MongoDB service

The service is delivered with all the configuration you need.

Nonetheless, we'll explain what the Errands panel is useful for:

* Run BOSH Configurator
* Run Template Uploader
* Run Broker Registrar
* Run Broker Deregistrar
