---
title: Installing and Configuring a9s BOSH
owner: Partners
---

This topic describes how to install and configure a9s BOSH.

##<a id='install'></a> Install a9s BOSH

1. Download the product file from the Pivotal Network.

2. Navigate to the Ops Manager Installation Dashboard and click **Import a Product**
to upload the product file.

3. Click **Add** next to the uploaded a9s BOSH tile in the Ops Manager
**Available Products** view to add it to your staging area.

4. Click the newly added tile to review configurable Setting.

5. Click **Apply Changes** to deploy the service.


##<a id='configure'></a> Configure a9s BOSH

Once you have installed the a9s BOSH, you will have to configure it according to
your infrastructure. By configuring the a9s BOSH, you are configuring the [BOSH
Director] (https://bosh.io/docs/bosh-components.html#director).

Those values are split in two categories: the first one is used by the **[BOSH
Director's CPI](https://bosh.io/docs/bosh-components.html#cpi)** and its fields
are **specific to your IaaS**; the second one, known as the  **[cloud-config](https://bosh.io/docs/cloud-config.html)**,
is more generic even though the values are formated differently depending on the
IaaS. To facilitate your configuration, we're providing you with value examples
that are already formated for AWS and vSphere.

The form is split in two parts corresponding those categories. In the first part,
you will first need to specify which IaaS you are using between *AWS*,
*OpenStack* and *vSphere* and then fill the corresponding CPI fields. The
second part is comprised of the **Cloud Configuration** fields.


###<a id='aws-config'></a>for AWS
---
#### IaaS Specific Settings
BOSH provides a more detailed description of the AWS specific settings in
[its documentation](https://bosh.io/docs/aws-cpi.html)

| Value | Example |
|-------|---------|
| AWS Access Key ID | `YOURAWSACCESSKEY` |
| AWS Secret Access Key | `secret` |
| AWS Default Key Name | `myawsname` |
| AWS Default Security Group | `sg-56168731` |
| AWS Default Region | `eu-west-1` |

#### Cloud Configuration
##### Availability Zones

| Fields | Example |
|-------|---------|
| Cloud properties for Availability Zones | `{availability_zone: eu-west-1a}` |

##### VM Types
| Fields | Example |
|-------|---------|
| Cloud properties for the VM Types | `{instance_type: t2.small, availability_zone: eu-west-1a, ephemeral_disk: {size: 2048, type: gp2}}` |

##### Disk Types
| Fields | Example |
|-------|---------|
| Cloud properties for the Disk Types | `{disk_size: 5120, cloud_properties: {type: gp2,encrypted: false}}` |

##### Network Settings
| Fields | Example |
|-------|---------|
| Subnet IP range of this subnet for availability zone | `10.0.29.0/24` |
| Subnet gateway IP for availability zone | `10.0.29.1` |
| Reserved IPs for availability zone | `10.0.29.1-10.0.29.11` |
| Cloud properties for this subnet for availability zone | `{subnet: subnet-9f7489c7}` |


###<a id='vsphere-config'></a> for vSphere
---
#### IaaS Specific Settings
BOSH provides a more detailed description of the vSphere specific settings in
[its documentation](https://bosh.io/docs/vsphere-cpi.html).

| Value | Example | Explanation |
|-------|---------|-------------|
| the Host of the vCenter | `vcenter01.example.com` | |
| vCenter user name | `avarteq@example.com` |  |
| vCenter user password | `secret` |  |
| Name of the Datacenter | `avarteq` | Name of the datacenter. |
| VM Folder | `pcf/pcf_vms` | Relative path to a folder where the created VMs will be stored. |
| Template Folder | `pcf/pcf_templates` | Relative path to a folder where the stemcells will be stored. |
| Datastore pattern for Ephemeral Disks | `^(ds_emc01_iscsi_c01_pcf)$` | Pattern for selecting datastores for storing ephemeral disks and replicated stemcells. |
| Datastore pattern for persistent Disks | `^(ds_emc01_iscsi_c01_pcf)$` | Pattern for selecting datastores for storing persistent disks.|
| Disk Path | `pcf_disk` | Relative path to a folder where the persistent disks will be stored. |
| Name of the clusters in vCenter | `[C01, C02, C03]` |  Expects an array of datacenters where to put the VMs |

#### Cloud Configuration
##### Availability Zones

| Fields | Example |
|-------|---------|
| Cloud properties for Availability Zones | `{datacenters: [name: avarteq, clusters: [C01: {resource_pool: RP_PCF_C01}]]}` |

##### VM Types
| Fields | Example |
|-------|---------|
| Cloud properties for the VM Types | `{cpu: 1, ram: 2048, disk: 8192}` |

##### Disk Types
| Fields | Example |
|-------|---------|
| Cloud properties for the Disk Types | `{type: thin}` |

##### Network Settings
| Fields | Example |
|-------|---------|
| Subnet IP range of this subnet for Availability Zone | `172.28.4.0/24` |
| Subnet gateway IP for Availability Zone | `172.28.4.1` |
| Reserved IPs for Availability Zone | `172.28.4.1-172.28.4.11` |
| Cloud properties for this subnet for Availability Zone | `{name: 268_C01_RZ-AT-VMWARE-STAGING-1}` |

