---
title: Using the a9s Consul-DNS
owner: Partners
---

This topic describes how to use the anynines Consul-DNS.

##<a id='using'></a> Using the anynines Consul-DNS

Once you installed the anynines Consul-DNS tile and configured it, there is
nothing else you need to do.
The anynines Consul-DNS tile is then used by other tiles in order to resolve the
hostnames of the nodes that were provisioned by them.

In case any of the anynines Data service tile for Cloud Foundry is installed
(e.g. the a9s Dedicated MongoDB tile), the a9s Consul-DNS must be registered
within the Elastic Runtime.

## Registering the service within the Elastic Runtime

1. Open the PCF Ops Manager.

2. Click on the **a9s Consul-DNS** tile.

3. Click on the **status** tab.

4. Note the IP adresses of the dnsmasqs.

5. Go back to the PCF Ops Manager tiles overview.

6. Click on the **Ops Manager Director** tile.

7. Open the **Create Network** category.

8. Under *networks*, open your **subnets** tabs.

9. Replace the entry for DNS with the IPs of your dnsmasq VMs that doesn't
belong to the same subnet.

TODO: add pictures

