---
title: Using anynines Consul-DNS
owner: Partners
---

This topic describes how to use anynines Consul-DNS.

##<a id='using'></a> Using anynines Consul-DNS

##<a id='troubleshooting'></a> Troubleshooting anynines Consul-DNS

