---
title: Using the a9s Dedicated MongoDB
owner: Partners
---

This topic describes how to use the a9s Dedicated MongoDB.

##<a id='using'></a> Using the a9s Dedicated MongoDB

* cf create-service
* cf bs
* cf env
* cf us
* cf ds
