---
title: Using the anynines Consul-DNS
owner: Partners
---

This topic describes how to use the anynines Consul-DNS.

##<a id='using'></a> Using the anynines Consul-DNS

Once you installed the anynines Consul-DNS tile and configured it, there is
nothing else you need to do. This service will be able to register any anynines
product you will add to your Ops Manager.

